@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}
ul { list-style-type: none; }
a {
    text-decoration: none;
    color: currentColor; 
}

/*container */
.container-sm { 
    width: 900px;
    margin: 0 auto; 
}
.container-lg { 
    width: 1024px; 
    margin: 0 auto; 
}
img { max-width: 100%; }

/* colonne */
.col-2 { width: calc(100% / 12 * 2); }
.col-4 { width: calc(100% / 12 * 4); }
.col-6 { width: calc(100% / 12 * 6); }
.col-8 { width: calc(100% / 12 * 8); }
.col-12 { width: 100%; }

.button {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px 5px;
}

.row [class^="col"] {
    float: left;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

    /* HEADER  */
/* nav */

header .nav-list li {
    display: inline-block;
    padding: 20px 10px 23px 7px;
    line-height: 22px;
    vertical-align: middle;
}

header nav .navL {
    float: left;
}

header nav .navR {
    float: right;
}

header nav::after {
    content: "";
    display: block;
    clear: both;
}

    /* MAIN */
/* jumbo */
main > #jumbo {
    background-color: #B4D0E7;
}

#jumbo #big-title {
    font-size: 70px;
    padding: 20px 0;
}










/*debug*/
/* .debug .nav-list {
    border: 1px solid black;
} */