@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px 5px;
}

    /* HEADER  */
/* nav */

header .nav-list li {
    display: inline-block;
    padding: 20px 10px 23px 7px;
    line-height: 22px;
    vertical-align: middle;
}

header nav .navL {
    float: left;
}

header nav .navR {
    float: right;
}

/*debug*/
/* .debug .nav-list {
    border: 1px solid black;
} */