@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}
ul { list-style-type: none; }
a {
    text-decoration: none;
    color: currentColor; 
}
.blue-links {
    text-decoration: underline;
    color: #116CFF;
}

/*container */
.container-sm { 
    width: 900px;
    margin: 0 auto; 
}
.container-lg { 
    width: 1024px; 
    margin: 0 auto; 
}
img { max-width: 100%; }

/* colonne */
.col-2 { width: calc(100% / 12 * 2); }
.col-4 { width: calc(100% / 12 * 4); }
.col-5 { width: calc(100% / 5); }
.col-6 { width: calc(100% / 12 * 6); }
.col-8 { width: calc(100% / 12 * 8); }
.col-12 { width: 100%; }
/* [class^="col"] { padding: 15px; } */

.button {
    padding: 5px 10px 5px 10px;
    background-color: #0061FF;
    color: white;
    width: fit-content;
}

.white-button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.long-button {
    background-color: white;
    color: black;
    padding: 5px 40px;
}

.long-blue-button {
    margin: 0 auto;
    padding: 5px 40px;
    background-color: #0061FF;
    color: white;
}

.row [class^="col"] {
    float: left;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

    /* HEADER  */
/* nav */

header .nav-list li {
    display: inline-block;
    padding: 20px 10px 23px 7px;
    line-height: 22px;
    vertical-align: middle;
}

header nav .navL {
    float: left;
}

header nav .navR {
    float: right;
}

header nav::after {
    content: "";
    display: block;
    clear: both;
}

    /* MAIN */
/* jumbo */
#jumbo {
    background-color: #B4D0E7;
}

#big-title {
    font-size: 70px;
    padding-bottom: 20px;
}

#jumbo-p { padding-bottom: 30px; }
#disclaimer { padding: 20px 0; }


/* sezioni */
section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    font-size: 35px;
    padding-bottom: 30px;
    font-weight: 700;
}

/* prima sezione: piani tariffari */
.billing  {
    display: inline-block;
    padding-right: 20px;
}
.form { padding-bottom: 20px; }

    /* card  */
.card { border: 1px solid gray; }
.card-header {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.card-main, .card-footer { 
    padding: 20px; 
}
/* card main */
.plan-name { 
    font-size: 25px;
    padding-bottom: 5px;
}
.price { 
    font-weight: 600;
    padding-bottom: 5px;
}
.rate {
    font-size: 12px;
    color: gray;
    font-weight: 600;
    padding-bottom: 15px;
}
ul.features li {
    padding-bottom: 10px;
}
/* .buy-now {
    padding-bottom: 10px;
} */
/* card footer */
.char-title {
    padding-bottom: 15px;
    font-size: 20px;
}
ul.characteristic li {
    padding-bottom: 15px;
}

ul.characteristic li::before {
    content: "✔";
    display: inline-block;
}

#long-card .col-4 > .button {
    float: right;
}



/* sezione cta */
#cta-section { background-color: #B4D0E7; }
#cta-title { color: #61082B; }
#cta-section .container-sm .row .col-6:last-child {
    text-align: right;
}

/* sezione faq */
#faq-title { 
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

#faq .col-12 {
    border-bottom: 1px solid rgb(177, 177, 177);
    line-height: 80px;
    vertical-align: middle;
    font-weight: 500;
    /* font-size: 20px; */
}
 /* FOOTER */
 footer {
    background-color: black; 
    color: white;
    padding-top: 80px;
    }

footer li {
    padding-bottom: 15px;
}

footer .list-title { 
    font-size: 20px; 
    padding-bottom: 25px;
}

footer .row:first-child { padding-bottom: 100px; } 
footer .row:last-child::before {
    content: "";
    display: block;
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 10%;
}

#language {
    line-height:  100px;
    vertical-align: middle;
    font-size: 12px;
    color: gray;
}

#language::after {
    content: "🞁";
    display: inline-block;
}




/*debug*/
/* .debug .nav-list {
    border: 1px solid black;
} */